form {
    border: 1px solid grey;
    align-content:center;
    padding: 30px;
    margin-left: 30%;
    margin-right: 28%;
    background-color: purple;
    color: white;
    border: 2px solid green;
    font-weight: bold;
}
#submit {
    background-color: lightgreen;
    text-align: center;
}
