
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Welcome @ViewBag.username</h5>
            <p>Username: @ViewBag.username</p>
            <p>Email: @ViewBag.email</p>
            <p>Started: @ViewBag.date</p>
            <a asp-controller="Spa" asp-action="Index">Back to homepage</a>
        </div>
    </div>